<div class="col-md-4">
  <div id="recipe-<%=recipe.id%>" class="card mb-4 shadow-sm">
    
      <% if recipe.image_file_name != nil %>
        <%= image_tag recipe.image.url %>
      <% else %>
        <%= image_tag 'missing.png' %>
      <% end %>
    <div class="card-body">
    <h1 class="h4">
      <%= image_tag 'star.png', class: 'star-image' if recipe.featured? %>
      <%= link_to recipe.title, recipe %>
    </h1>
    <ul>
      <li><%= recipe.recipe_type.name %></li>
      <li><%= recipe.cuisine.name %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= recipe.cook_time_min %></li>
    </ul>
    <% if current_user && current_user.email == recipe.user.email || current_user && current_user.admin %> 

    <%= link_to 'Apagar', recipe_path(recipe), method: :delete %>
    <%end%>
    </div>
  </div>
</div>
