<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Cookbook', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-iteme">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Cadastrar tipo de receita', new_recipe_type_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Cadastrar cozinha', new_cuisine_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Enviar uma receita', new_recipe_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
